

/* right offcanvas*/

.inputs input {
    width: 100%;
    border-radius: 0;
    border: 0.5px solid gray
}

#changingformsToProfile {
    margin-top: 40%;
}

div.inputs {
    width: 100%; padding: 0;
}

div.bottom_form {
    margin-top: 6%;
}

ul.navbar-nav li.nav-item {
    margin: 0 auto;
}

li.nav-item a:hover {
    text-decoration: underline;
}
